
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}


.container{
    width: 1200px;
    margin: 0 auto;
    > h1{
        font-size: $font-size*5;
        font-weight: 400;
        padding: 47px 0 17px;
        border-bottom: 2px solid #000000;
    }
    > img{
        display: block;
        padding: 48px 0;
    }
    .title{
        @extend %title;
        margin-bottom: $text-marginBottom*4;
        > span{
            color: $title-color;
        }
    }
    .content{
        @extend %contentText;
        margin-bottom: $box-marginBottom;
        > li{
            margin-bottom: $text-marginBottom*6;
        }
    }
}
  
.skill{
    @extend %fluidSet;
    margin-bottom: $box-marginBottom;
    .title_Fluid{
        @extend %titleFluid;
        margin-right: auto;
        margin-left: auto;
        width: 996px;
        margin-bottom: $text-marginBottom*10;
    }
    .content_Fluid{
        @extend %contentTextFluid;
        width: 218px;
        border-left: $border-style;
        padding-left: 24px;
        margin: 0 auto;
        > li{
            margin-bottom: $text-marginBottom*5;
        }
        .offset{
            margin-bottom: 0px;
        }
    }
}

.work{
    border-left: $border-style;
    padding-left: 24px;
    margin-left: 24px;
    .details{
        > img{
            display: block;
            padding: 8px 0;
        }
        > p{
            width: 642px;
            font-size: $font-size*1.25;
            line-height: 30px;
        }
    }
}

footer{
    @extend %fluidSet;
    text-align: center;
    .title_Fluid{
        @extend %titleFluid;
        margin-bottom: $text-marginBottom*4;
    }
    .content_Fluid{
        @extend %contentTextFluid;
        > li{
            margin-bottom: $text-marginBottom*4;
            > a{
                margin-right: 24px;
                &:hover{
                    text-decoration: underline;
                }
                > img{
                    vertical-align: bottom;
                }
            }
            .offset{
                margin-right: 0px;
            }
        }
        .offset{
            margin-bottom: 0px;
        }
    }
}