/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.skill .title_Fluid, footer .title_Fluid, .container .title {
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  font-size: 32px;
  line-height: 43px;
  font-family: 'Noto Sans TC', sans-serif;
}

.skill .title_Fluid span, footer .title_Fluid span, .container .title span {
  font-size: 24px;
  font-weight: 500;
  margin-left: 16px;
}

.skill .title_Fluid, footer .title_Fluid {
  border-bottom: 1px solid #fff;
  text-align: center;
}

.skill .content_Fluid, footer .content_Fluid, .container .content {
  font-size: 24px;
  line-height: 36px;
  font-family: 'Noto Sans TC', sans-serif;
}

.skill .content_Fluid, footer .content_Fluid {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.skill, footer {
  color: #fff;
  background: #415165;
  padding: 24px 0 36px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container > h1 {
  font-size: 80px;
  font-weight: 400;
  padding: 47px 0 17px;
  border-bottom: 2px solid #000000;
}

.container > img {
  display: block;
  padding: 48px 0;
}

.container .title {
  margin-bottom: 16px;
}

.container .title > span {
  color: #a00404;
}

.container .content {
  margin-bottom: 72px;
}

.container .content > li {
  margin-bottom: 24px;
}

.skill {
  margin-bottom: 72px;
}

.skill .title_Fluid {
  margin-right: auto;
  margin-left: auto;
  width: 996px;
  margin-bottom: 40px;
}

.skill .content_Fluid {
  width: 218px;
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
  margin: 0 auto;
}

.skill .content_Fluid > li {
  margin-bottom: 20px;
}

.skill .content_Fluid .offset {
  margin-bottom: 0px;
}

.work {
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
  margin-left: 24px;
}

.work .details > img {
  display: block;
  padding: 8px 0;
}

.work .details > p {
  width: 642px;
  font-size: 20px;
  line-height: 30px;
}

footer {
  text-align: center;
}

footer .title_Fluid {
  margin-bottom: 16px;
}

footer .content_Fluid > li {
  margin-bottom: 16px;
}

footer .content_Fluid > li > a {
  margin-right: 24px;
}

footer .content_Fluid > li > a:hover {
  text-decoration: underline;
}

footer .content_Fluid > li > a > img {
  vertical-align: bottom;
}

footer .content_Fluid > li .offset {
  margin-right: 0px;
}

footer .content_Fluid .offset {
  margin-bottom: 0px;
}
/*# sourceMappingURL=all.css.map */